@import url('https://fonts.googleapis.com/css?family=Abel|Damion');
.avatar {
  border-radius: 50%;
  -moz-box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 1);
  -webkit-box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 1);
}

.center {
  text-align: center;
  margin: 0 auto;
}

.sided-container {
  margin: 0 auto;
  text-align: center;
}

.sided {
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(63, 63, 63);
}

.content h1, h2, span{
  font-family: 'Abel', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: calc(10px + 2vmin);
}

.intro {
  background-color: rgb(230, 255, 230);
  background: -webkit-gradient(linear, top left, bottom left, from(#e6ffcc), to(#4bbfc3));
  background: -webkit-linear-gradient(#e6ffcc, #4bbfc3);
  background: linear-gradient(#e6ffcc, #4bbfc3);
}

.background {
  background-color: rgb(75, 191, 195);
  background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
  background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
  background: linear-gradient(#4BBFC3, #7BAABE);
}

.projects {
  background-color: rgb(123, 170, 190);
  background: -webkit-gradient(linear, top left, bottom left, from(#7baabe), to(#b3cccc));
  background: -webkit-linear-gradient(#7BAABE, #b3cccc);
  background: linear-gradient(#7BAABE, #b3cccc);
}

.contact {
  background-color: rgb(133, 133, 133);
  background: -webkit-gradient(linear, top left, bottom left, from(#b3cccc), to(#858585));
  background: -webkit-linear-gradient(#b3cccc, #858585);
  background: linear-gradient(#b3cccc, #858585);
}

#svg-1 {
  margin: 0 auto;
  display: block;
}

.icon {
  color: #d3d3d3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #929292;
  background: rgb(104, 103, 103);
  margin: 5px;
  display: flex;
  align-items: center;
}

.small{
  width: 30px !important;
  height: 30px !important;
  float: right;
}

.svg-icon {
  display: "block";
  margin: "0 auto";
  vertical-align: "middle";
}

.icon:hover {
  background: rgb(158, 157, 157);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#img-wrapper {
  display: inline-block;
  width: 400px;
  background: #3498db;
  margin: 0;
  position: relative;
display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transform: rotateX(30deg) scale(.65);
  transform: rotateX(30deg) scale(.65);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  box-shadow: 0 15px 20px 5px rgba(0,0,0,.2);
}

#img-wrapper:hover {
  -webkit-transform: rotateX(0deg) scale(1);
  transform: rotateX(0deg) scale(1);
  box-shadow: none;
}

#img-wrapper img {
  width: 100%;
  margin: 0;
  position: relative;
  display: block;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

#img-wrapper:hover img {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

#img-wrapper:hover figcaption {
  background: rgba(0,0,0,.75);
}

#img-wrapper:hover figcaption h2 {
  opacity: 1;
  padding-left: 20px;
  -webkit-transition: .3s all ease .3s;
  transition: .3s all ease .3s;
}

#img-wrapper:hover figcaption #bottom-detail {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

#img-wrapper:hover figcaption #bottom-detail p {
  opacity: 1;
  top: 0;
  -webkit-transition: .3s all ease .5s;
  transition: .3s all ease .5s;
}

#img-wrapper:hover figcaption #bottom-detail #social-icons li a {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s all ease .5s;
  transition: .3s all ease .5s;
}



figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

figcaption h2 {
  margin: 0;
  color: white;
  font-size: 22px;
  line-height: 70px;
  opacity: 0;
  padding-left: 0;
  padding-right: 20px;
  font-weight: 300;
}

figcaption #bottom-detail {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 70px;
  background: white;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: .3s all ease .1s;
  transition: .3s all ease .1s;
}

#bottom-detail p {
  font-size: 17px;
  opacity: 0;
  top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: #999;
  font-weight: 300;
  line-height: 1.5;
}

#bottom-detail #social-icons {
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}


#social-icons li {
  display: inline-block;
  margin: 0;
}

#social-icons li a {
  font-size: 18px;
margin-bottom: 10px;
  text-decoration: none;
  padding: 10px 10px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}


#confirmBox
{
  display: none;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #aaa;
  position: fixed;
  width: 300px;
  left: 50%;
top: 50%;
  margin-left: -150px;
  padding: 6px 8px 8px;
  box-sizing: border-box;
  text-align: center;
}
#confirmBox button {
  background-color: #ccc;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #aaa;
  padding: 2px;
  text-align: center;
  width: 80px;
  cursor: pointer;
}
#confirmBox button:hover
{
  background-color: #ddd;
}
#confirmBox .message
{
  text-align: left;
  margin-bottom: 8px;
}